/public/css/app.css
/public/favicon.ico
/public/fonts/
/public/images/
/resources/assets/js/
/resources/assets/css/
/public/js/bootstrap.min.js
/public/js/jquery-2.2.3.min.js
/public/js/responsiveslides.min.js
/public/css/app.css
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
